<div id="<%= dom_id student %>">
  <p>
    <strong>Firstname:</strong>
    <%= student.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= student.lastName %>
  </p>

  <p>
    <strong>Jmbag:</strong>
    <%= student.JMBAG %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= student.DOB %>
  </p>

</div>
