<div id="<%= dom_id professor %>">
  <p>
    <strong>Firstname:</strong>
    <%= professor.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= professor.lastName %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= professor.DOB %>
  </p>

  <p>
    <strong>Oib:</strong>
    <%= professor.OIB %>
  </p>

</div>
