<p style="color: green"><%= notice %></p>

<%= render @professor %>

<div>
  <h3>Courses:</h3>
  <% require 'set' %>
  <% @course_names = Set[] %>
  <% @relations = TriProfessorCourseStudent.all %>
  <% @relations.each do |relation| %>
    <% if relation.professor_user_id == @professor.id and not @course_names.include?(Course.find_by_id(relation.course_name).name)%>
      <%= Course.find_by_id(relation.course_name).name %>
      <% @course_names.add(Course.find_by_id(relation.course_name).name) %>
      <p>
        <%= link_to "Show this course", Course.find_by_id(relation.course_name) %>
      </p>
    <% end %>
  <%end %>
</div>

<div>
  <%= link_to "Previous page", :back, class:"btn btn-secondary" %> |

  <% if current_user.user_type == 'admin' %>
    <%= link_to "Edit this professor", edit_professor_path(@professor), class:"btn btn-secondary" %> |
  <% end %>

  <%= link_to "Professors", professors_path, class:"btn btn-secondary" %>

  <% if current_user.user_type == 'admin' %>
<br/><br/>
  <%= button_to 'Delete this professor', @professor, :method => 'delete', form: {data: { turbo_confirm: 'Are you sure?' }}, class: "btn btn-danger" %>
  <% end %>
</div>
