<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= course.course_type %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= course.semester %>
  </p>

  <p>
    <strong>Ects:</strong>
    <%= course.ECTS %>
  </p>

</div>
